In [3]:

 #Import panda library
import pandas as pd

 #Read csv files and stores as panda dataframes 
df_11 = pd.read_csv(r'C:\Users\bronw\OneDrive\Desktop\Hello\table_11.csv')
  
df_13 = pd.read_csv(r'C:\Users\bronw\OneDrive\Desktop\Hello\table_13.csv')
                     
df_14 = pd.read_csv(r'C:\Users\bronw\OneDrive\Desktop\Hello\table_14.csv')

df_15 = pd.read_csv(r'C:\Users\bronw\OneDrive\Desktop\Hello\table_15.csv')

print(df_15.head())

    seriescode                                  seriesdescription  \
0  AG_LND_FRST  Forest area as a proportion of total land area...
1  AG_LND_FRST  Forest area as a proportion of total land area...
2  AG_LND_FRST  Forest area as a proportion of total land area...
3  AG_LND_FRST  Forest area as a proportion of total land area...
4  AG_LND_FRST  Forest area as a proportion of total land area...

   geoareacode             geoareaname  timeperiod  value  time_detail  \
0            4             Afghanistan        2000   2.07         2000
1          860              Uzbekistan        2000   7.55         2000
2           92  British Virgin Islands        2000  24.47         2000
3           15         Northern Africa        2000   3.84         2000
4          356                   India        2000  21.99         2000

                                              source nature    units
0                                       FAO Estimate      E  PERCENT
1             Official country data submitted to FAO      C  PERCENT
2                                       FAO Estimate      E  PERCENT
3  FAO, Global Forest Resources Assessment and FA...    NaN  PERCENT
4             Official country data submitted to FAO      C  PERCENT

In [ ]:
#See quick preview of data
print(df_13).head()

In [4]:
#Removes the unnneeded columns, save in new variable 
df_15_cleaned = df_15.drop(["time_detail", "source", "nature", "units"], axis = 1) 

print(df_15_cleaned.head())

    seriescode                                  seriesdescription  \
0  AG_LND_FRST  Forest area as a proportion of total land area...
1  AG_LND_FRST  Forest area as a proportion of total land area...
2  AG_LND_FRST  Forest area as a proportion of total land area...
3  AG_LND_FRST  Forest area as a proportion of total land area...
4  AG_LND_FRST  Forest area as a proportion of total land area...

   geoareacode             geoareaname  timeperiod  value
0            4             Afghanistan        2000   2.07
1          860              Uzbekistan        2000   7.55
2           92  British Virgin Islands        2000  24.47
3           15         Northern Africa        2000   3.84
4          356                   India        2000  21.99

In [11]:
#Check names of countries
 print(df_15_cleaned["geoareaname"].unique())

In [6]:
#Change name of country for better readability 
df_15_cleaned["geoareaname"] = df_15_cleaned["geoareaname"].replace(['Viet Nam'], 'Vietnam')

In [10]:
 # print(df_15_cleaned["geoareaname"].unique())

In [12]:
#See quick preview of data
print(df_15_cleaned.head())

    seriescode                                  seriesdescription  \
0  AG_LND_FRST  Forest area as a proportion of total land area...
1  AG_LND_FRST  Forest area as a proportion of total land area...
2  AG_LND_FRST  Forest area as a proportion of total land area...
3  AG_LND_FRST  Forest area as a proportion of total land area...
4  AG_LND_FRST  Forest area as a proportion of total land area...

   geoareacode             geoareaname  timeperiod  value
0            4             Afghanistan        2000   2.07
1          860              Uzbekistan        2000   7.55
2           92  British Virgin Islands        2000  24.47
3           15         Northern Africa        2000   3.84
4          356                   India        2000  21.99

In [14]:
#Change Column names for better readability 

df_15_cleaned.rename(columns={'seriescode': 'Code', 'seriesdescription': 'Description', 'geoareacode': 'Geo_code', 'geoareaname': 'Counrty/region', 'timeperiod': 'year'}, inplace=True)

In [15]:
#See quick preview of data
print(df_15_cleaned.head())

          Code                                        Description  Geo_code  \
0  AG_LND_FRST  Forest area as a proportion of total land area...         4
1  AG_LND_FRST  Forest area as a proportion of total land area...       860
2  AG_LND_FRST  Forest area as a proportion of total land area...        92
3  AG_LND_FRST  Forest area as a proportion of total land area...        15
4  AG_LND_FRST  Forest area as a proportion of total land area...       356

           Counrty/region  year  value
0             Afghanistan  2000   2.07
1              Uzbekistan  2000   7.55
2  British Virgin Islands  2000  24.47
3         Northern Africa  2000   3.84
4                   India  2000  21.99

In [17]:
df_15_cleaned.rename(columns={'year': 'Year', 'value': 'Value'}, inplace=True)

In [20]:
#Check data types and missing values 
df_15_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116 entries, 0 to 1115
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            1116 non-null   object
 1   Description     1116 non-null   object
 2   Geo_code        1116 non-null   int64
 3   Counrty/region  1116 non-null   object
 4   Year            1116 non-null   int64
 5   Value           1116 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 52.4+ KB

In [19]:
#Store cleaned data in folder to be used in Tableau Visualisation 
df_15_cleaned.to_csv(r'C:\Users\bronw\OneDrive\Desktop\cleaned_tables\df_15_cleaned.csv', index = False)

In [23]:
#Removes the unnneeded columns, save in new variable 
df_13_cleaned = df_13.drop(["goal", "target", "indicator", "time_detail", "nature", "units"], axis = 1) 

#See quick preview of data
df_13_cleaned.head()

,seriescode,seriesdescription,geoareacode,geoareaname,timeperiod,value
0,VC_DSR_MISS,Number of missing persons due to disaster (num...,768,Togo,2005,0
1,VC_DSR_MISS,Number of missing persons due to disaster (num...,417,Kyrgyzstan,2005,0
2,VC_DSR_MISS,Number of missing persons due to disaster (num...,854,Burkina Faso,2005,0
3,VC_DSR_MISS,Number of missing persons due to disaster (num...,218,Ecuador,2005,4
4,VC_DSR_MISS,Number of missing persons due to disaster (num...,388,Jamaica,2005,0

In [ ]:
#Change Column names for better readability 
df_13_cleaned.rename(columns={'seriescode': 'Code', 'seriesdescription': 'Description', 'geoareacode': 'Geo_code', 'geoareaname': 'Counrty/region', 'timeperiod': 'Year', "value": "Value" }, inplace=True)

In [ ]:
#Change name of country for better readability 
df_13_cleaned["Counrty/region"] = df_13_cleaned["Counrty/region"].replace(['Viet Nam'], 'Vietnam')

In [32]:
#See quick preview of data
df_13_cleaned.head()
#Store cleaned data in folder to be used in Tableau Visualisation 
df_13_cleaned.to_csv(r'C:\Users\bronw\OneDrive\Desktop\cleaned_tables\df_13_cleaned.csv', index = False)

In [35]:
#See quick preview of data
df_14.head()

,goal,target,indicator,seriescode,seriesdescription,geoareacode,geoareaname,timeperiod,value,time_detail,freq,units
0,14,14.4,14.4.1,ER_H2O_FWTL,Proportion of fish stocks within biologically ...,1,World,2006,72.032189,2006,ANNUAL,PERCENT
1,14,14.4,14.4.1,ER_H2O_FWTL,Proportion of fish stocks within biologically ...,1,World,2009,70.126578,2009,ANNUAL,PERCENT
2,14,14.4,14.4.1,ER_H2O_FISHFEXP,Proportion of fish stocks that are fully explo...,1,World,2009,57.468350,2009,ANNUAL,PERCENT
3,14,14.4,14.4.1,ER_H2O_FISHNFEXP,Proportion of fish stocks that are not fully e...,1,World,2011,9.976247,2011,ANNUAL,PERCENT
4,14,14.4,14.4.1,ER_H2O_FISHFEXP,Proportion of fish stocks that are fully explo...,1,World,2011,61.282660,2011,ANNUAL,PERCENT

In [38]:
#Removes the unnneeded columns, save in new variable 
df_14_cleaned = df_14.drop(["goal", "target", "indicator", "geoareacode", "time_detail", "freq", "units"], axis = 1)

In [40]:
#Change column names for better readability
df_14_cleaned.rename(columns={'seriescode': 'Code', 'seriesdescription': 'Description', 'geoareaname': 'Counrty/region', 'timeperiod': 'Year', "value": "Value" }, inplace=True)

In [44]:
#See quick preview of data
df_14_cleaned.head()

,Code,Description,Counrty/region,Year,Value
0,ER_H2O_FWTL,Proportion of fish stocks within biologically ...,World,2006,72.032189
1,ER_H2O_FWTL,Proportion of fish stocks within biologically ...,World,2009,70.126578
2,ER_H2O_FISHFEXP,Proportion of fish stocks that are fully explo...,World,2009,57.468350
3,ER_H2O_FISHNFEXP,Proportion of fish stocks that are not fully e...,World,2011,9.976247
4,ER_H2O_FISHFEXP,Proportion of fish stocks that are fully explo...,World,2011,61.282660

,Code,Description,Counrty/region,Year,Value
0,ER_H2O_FWTL,Proportion of fish stocks within biologically ...,World,2006,72.032189
1,ER_H2O_FWTL,Proportion of fish stocks within biologically ...,World,2009,70.126578
2,ER_H2O_FISHFEXP,Proportion of fish stocks that are fully explo...,World,2009,57.468350
3,ER_H2O_FISHNFEXP,Proportion of fish stocks that are not fully e...,World,2011,9.976247
4,ER_H2O_FISHFEXP,Proportion of fish stocks that are fully explo...,World,2011,61.282660

In [45]:
#Store cleaned data in folder to be used in Tableau Visualisation 
df_14_cleaned.to_csv(r'C:\Users\bronw\OneDrive\Desktop\cleaned_tables\df_14_cleaned.csv', index = False)

In [54]:
#df_11.head()

In [53]:
#Removes the unnneeded columns, save in new variable 
df_11_cleaned = df_11.drop(["goal", "target", "indicator", "time_detail"], axis = 1)

In [55]:
#See quick preview of data
df_11_cleaned.head()

,seriescode,seriesdescription,geoareacode,geoareaname,timeperiod,value
0,EN_LND_SLUM,Proportion of urban population living in slums...,50,Bangladesh,2000,77.8
1,EN_LND_SLUM,Proportion of urban population living in slums...,332,Haiti,2000,93.4
2,EN_LND_SLUM,Proportion of urban population living in slums...,834,United Republic of Tanzania,2000,70.1
3,EN_LND_SLUM,Proportion of urban population living in slums...,710,South Africa,2000,33.2
4,EN_LND_SLUM,Proportion of urban population living in slums...,324,Guinea,2000,57.3

In [56]:
#Change column names for better readability
df_11_cleaned.rename(columns={'seriescode': 'Code', 'seriesdescription': 'Description', 'geoareacode': 'Geo_code', 'geoareaname': 'Counrty/region', 'timeperiod': 'Year', "value": "Value" }, inplace=True)

In [58]:
#Store cleaned data in folder to be used in Tableau Visualisation 
df_11_cleaned.to_csv(r'C:\Users\bronw\OneDrive\Desktop\cleaned_tables\df_11_cleaned.csv', index = False)

In [63]:
 #Read csv file and stores as panda dataframes 
df_pop = pd.read_csv(r'C:\Users\bronw\OneDrive\Desktop\Hello\world_population.csv')

In [64]:
#Check data types and missing values 
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country/Other      201 non-null    object
 1   Population (2020)  201 non-null    int64
 2   Yearly Change      201 non-null    float64
 3   Net Change         201 non-null    int64
 4   Density (P/Km²)    201 non-null    int64
 5   Land Area (Km²)    201 non-null    int64
 6   Migrants (net)     201 non-null    int64
 7   Fert. Rate         201 non-null    float64
 8   Med. Age           201 non-null    int64
 9   Urban Pop %        194 non-null    float64
 10  World Share        201 non-null    float64
dtypes: float64(4), int64(6), object(1)
memory usage: 17.4+ KB

In [ ]:
#Change column names for better readability
df_pop.rename(columns={'Country/Other': 'Counrty/region' }, inplace=True)

In [69]:
#Store cleaned data in folder to be used in Tableau Visualisation 
df_pop.to_csv(r'C:\Users\bronw\OneDrive\Desktop\cleaned_tables\population_cleaned.csv', index = False)